.bg-img-a{
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yQ/r/dbhYM6cJhPw.png');
}

.bg-img-b{
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y7/r/z3JoyCWlf8g.png');
}

.bg-img-c{
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yp/r/1juTcM7mrdW.png');
}

.bg-img-d{
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y_/r/yQE5d0gZsxk.png');
}

.bg-img-e{
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/yjJFVz39oV-.png');
}

.bg-img-f{
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y_/r/yQE5d0gZsxk.png');
}

.bg-img-g{
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yp/r/1juTcM7mrdW.png');
}

.bg-img-h{
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/UUoJFYPOy0f.png');
}

.left-nav-icon {
	background-position: 0 -259px;
	background-size: 37px 518px;
	width: 36px;
	height: 36px;
	background-repeat: no-repeat;
	display: inline-block;
}


.left-nav-icon-1 {
	background-position: 0 -259px;
}

.left-nav-icon-2 {
	background-position: 0 -148px;
}

.left-nav-icon-3 {
	background-position: 0 -74px;
}

.left-nav-icon-4 {
	background-position: 0 -370px;
}

.left-nav-icon-5 {
	background-position: 0 -481px;
}

.left-nav-icon-6 {
	background-position: 0 -296px;
}

.left-nav-icon-7 {
	background-position: 0 -370px;
}

.left-nav-icon-8 {
	background-position: -722px -175px;
	background-size: auto;
}

.left-nav-icon-9 {
	background-position: 0 -407px;
	background-size: auto;
}

.left-nav-icon-10 {
	background-position: 0 -37px;
	background-size: auto;
}

.left-nav-icon-11 {
	background-position: 0 0px;
	background-size: auto;
}

.left-nav-icon-12 {
	background-position: 0 -148px;
	background-size: auto;
}

.left-nav-icon-13 {
	background-position: 0 -111px;
	background-size: auto;
}

.left-nav-icon-14 {
	background-position: 0 0px;
	background-size: auto;
}

.left-nav-icon-15 {
	background-position: 0 -37px;
	background-size: auto;
}

.left-nav-icon-16 {
	background-position: 0 -333px;
	background-size: auto;
}


