.tooltip {
	position: relative;
}

.tooltip .tooltiptext {
	visibility: hidden;
	position: absolute;
	z-index: 10;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
