.icon-pencil {
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y7/r/jFANuUzeK0L.png');
	background-position: 0px -461px;
	background-size: auto;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-book {
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/pdNWExZTlZg.png');
	background-position: 0px -647px;
	background-size: auto;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-camera-plus {
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y7/r/jFANuUzeK0L.png');
	background-position: 0px -188px;
	background-size: auto;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-flag {
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y7/r/jFANuUzeK0L.png');
	background-position: 0px -167px;
	background-size: auto;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-speaker {
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yX/r/dewPZ-CQHci.png');
	background-position: 0px -1113px;
	background-size: 33px 1814px;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-group {
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/pdNWExZTlZg.png');
	background-position: 0px -248px;
	background-size: auto;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-book-plus {
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y7/r/jFANuUzeK0L.png');
	background-position: 0px -251px;
	background-size: auto;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-basket {
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/pdNWExZTlZg.png');
	background-position: 0px -626px;
	background-size: auto;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-threedots {
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y6/r/ri3KJWlr3oC.png');
	background-position: -84px -105px;
	background-size: auto;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-four-arrows {
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yQ/r/9OsdOK764p2.png');
	background-position: 0px -1323px;
	background-size: auto;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-double-messages {
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yQ/r/9OsdOK764p2.png');
	background-position: 0px -265px;
	background-size: auto;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-right-arrow {
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y6/r/ri3KJWlr3oC.png');
	background-position: -144px -126px;
	background-size: auto;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-pencil-2 {
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yQ/r/9OsdOK764p2.png');
	background-position: 0px -1593px;
	background-size: auto;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-group-blue {
	height: 28px;
	width: 28px;
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/ocBsNQPbn07.png');
	background-position: 0px -986px;
	background-size: auto;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-message-news {
	height: 28px;
	width: 28px;
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/ocBsNQPbn07.png');
	background-position: 0px -1508px;
	background-size: auto;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-settings {
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yr/r/jhcL_Di-aU2.png');
	background-position: -42px -286px;
	background-size: auto;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-questions {
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yR/r/B__LYiWVclj.png');
	background-position: 0px -322px;
	background-size: auto;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-half-moon {
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yR/r/B__LYiWVclj.png');
	background-position: 0px -238px;
	background-size: auto;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-exclamation-message {
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yR/r/B__LYiWVclj.png');
	background-position: 0px -154px;
	background-size: auto;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-logout {
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y-/r/yYY3b-uNdxY.png');
	background-position: 0px -204px;
	background-size: auto;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	display: inline-block;
}

/* class */
.limit-line {
	-webkit-line-clamp: 3;
	line-clamp: 3;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.icon-right-arrow {
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yr/r/jhcL_Di-aU2.png');
	background-position: 0px -131px;
	background-size: auto;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	display: inline-block;
}
